body {
  background:#F1FAEE;
  font-family: 'Roboto', sans-serif;
  font-size:14px;
   }

h1, h2, h3 { color: #1D3557; font-family: 'Montserrat', sans-serif; }

h1 { font-size:3em; }

p { margin:10px 0;  }

a { color:#E63946; text-decoration: none; }
a:hover { opacity: 0.3; }

td { padding: 10px; }


#sidebar {
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  background:#060C14;
  color: #FFF;
}
#page-content {
  margin: 0 0 0 100px;
}

#sidebar ul {
  list-style: none;
  padding:0 0 0 10px;
}

#sidebar li { margin: 0 0 10px 0;  }

#sidebar a { color: #FFF;  }

.container {
  width: 600px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.card {
  background:#FFF;
  padding:20px;
  margin: 0 0 20px 0;
  border: 1px solid lightgrey;
  text-align: center;
  border-radius: 3px;
 }

.card img {width:100%; }

a.btn-url {
  padding: 10px;
  background: #E63946;
  color: #FFF;
  border-radius: 1px;
}

.img-circle {
  border-radius: 50%;
}

img.avatar { width: 50%; margin: 0 auto; display: block; }

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
.list-inline {
  padding-left: 0px;
}
